.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-x {
  display: flex;
  justify-content: center;
}
.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-dots li {
  background: #000;
  height: 10px;
}
.ant-carousel .slick-dots li button {
  height: 10px;
}

.ant-carousel {
  margin: 15px 0;
}

.company-data img{
  cursor: pointer;
}


.image-item {
  position: relative;
}

.carousel-left,
.carousel-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.carousel-right {
  right: 0;
}

.carousel-left .anticon, .carousel-right .anticon{
  font-size: 36px;
  color: #fff;
}

.carousel-num {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

